[submodule "3rdparty/qhttp"]
	path = 3rdparty/qhttp
	url = https://github.com/giraldeau/qhttp.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "3rdparty/osrm-backend"]
	path = 3rdparty/osrm-backend
	url = https://github.com/Project-OSRM/osrm-backend.git
